[submodule "nglp/static/vendor/edges"]
	path = nglp/static/vendor/edges
	url = https://github.com/CottageLabs/edges.git
[submodule "js/vendor/edges2"]
	path = js/vendor/edges2
	url = git@github.com:CottageLabs/edges.git
