# Save this file as .env in the project root
host = "0.0.0.0"
port = "8000"

# ES hosts can contain basic auth credentials, such as http://user:secret@localhost:9200/
# if you are using opendistro elasticsearch, then these settings should work out of the box
es_hosts = ["https://admin:admin@localhost:9200"]
es_verify_certs = False

# GeoLite City database for GeoIP
#geo_database=/path/to/geolite2.mmdb
