/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	text-transform: uppercase;

	/* Neutral/5 */

	color: #1D1D1F;

	padding-left:2.5rem;
	height:15px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

/*specific classes related to Checkbox skins*/

.green{background-image:url("/static/img/checkbox_green.png");}
.blue{background-image:url("/static/img/checkbox_blue2.png");}
.dark{background-image:url("/static/img/checkbox_dark.png");}
.brand{background-image:url("/static/img/checkbox_brand.png");}

.checkbox-disabled {
	background-image:url("/static/img/checkbox_disabled.png");
}