.navbar {
  margin-bottom: 0;
  &-nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    a.nav-link {
      color: $white;
      font-size: 14px;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
