/* Variables for colour palette */

$white: #ffffff;
$black: #000000;
$brand-blue-0: #006E9B;
$brand-blue-1: #006087;
$data-green: #8BBABB;
$data-blue: #00A8CA;
$data-purple: #464159;
$white-cool: #F8F9FA;

$header: #006E9B;
$control: #006087;
$header-text: #ffffff;
$investigations: #8BBABB;
$requests: #00A8CA;
$exports: #464159;
$ellipses: #E9F3F7;
$title-text: #006087;
$table-divider: #cccccc;
$regular-text: #000000;

// override pallette from edges default styles
$component-border: #ffffff;
$component-title-background: #ffffff;
$component-link: #000000;
$component-background: #ffffff;
$component-alt-row: #ffffff;
$component-highlight-row: #ffffff;
$component-scrollbar: #c4d0d7;