/* Variables for colour palette */

$header: #006E9B;
$control: #006087;
$header-text: #ffffff;
$investigations: #8BBABB;
$requests: #00A8CA;
$exports: #464159;
$ellipses: #E9F3F7;
$title-text: #006087;
$table-divider: #cccccc;

// override pallette from edges default styles
$component-border: #ffffff;
$component-title-background: #ffffff;
$component-link: #000000;
$component-background: #ffffff;
$component-alt-row: #ffffff;
$component-highlight-row: #ffffff;
$component-scrollbar: #c4d0d7;