/* Variables for colour palette */

$header: #006E9B;
$control: #006087;
$header-text: #ffffff;
$ellipses: #E9F3F7;
$title-text: #006087;
$table-divider: #cccccc;
$regular-text: #000000;

$investigations: #8BBABB;
$requests: #00A8CA;
$exports: #464159;

$wf-first: #8BBABB;
$wf-second: #464159;
$wf-third: #A8DDA8;
$wf-fourth: #00A8CA;
$wf-fifth: #6C7B95;

$age-1m: #00C1B7;
$age-2m: #464159;
$age-3m: #A8DDA8;
$age-4m: #00A8CA;
$age-5m: #6C7B95;
$age-more: #8BBABB;


// override pallette from edges default styles
$component-border: #ffffff;
$component-title-background: #ffffff;
$component-link: #000000;
$component-background: #ffffff;
$component-alt-row: #ffffff;
$component-highlight-row: #ffffff;
$component-scrollbar: #c4d0d7;