<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>G001: Article Downloads for Unit Administrators</title>
        {% include "_edges_common_css.html" %}
        <link rel="stylesheet" href="/static/vendor/edges/vendor/nvd3-1.8.1/nv.d3.css?v={{config.version}}">
        <link rel="stylesheet" href="/static/vendor/edges/css/google.edges.css?v={{config.version}}"/>
        <style type="text/css">
            #overview {
                height: 400px;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <h1>G001: Article Downloads for Unit Administrators</h1>
            <div id="g001"></div>
        </div>

        {% include "_edges_common_js.html" %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHSLLjD8UtfNlczVJluIxzTOPGFOLStyQ"></script>
        <script type="text/javascript" src="/static/vendor/latlon-geohash-2.0.0/latlon-geohash-2.0.0.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/vendor/d3-3.5.17/d3.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/vendor/nvd3-1.8.1/nv.d3.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/src/components/charts.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/src/components/maps.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/src/templates/html.ComponentList.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/src/renderers/nvd3.edges.js?v={{config.version}}"></script>
        <script type="text/javascript" src="/static/vendor/edges/src/renderers/google.edges.js?v={{config.version}}"></script>

        <script type="text/javascript" src="/static/js/g001.edges.js?v={{config.version}}"></script>

        <script type="text/javascript">
        jQuery (document).ready (function($) {
            nglp.g001.init({
                searchUrl : '{{ url_for("query", path="public/event") }}'
            });
        });
        </script>
    </body>
</html>