@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "base/palette";
@import "../vendor/edges2/sass/renderers/bs3/checkbox-or-term-selector",
        "../vendor/edges2/sass/renderers/bs3/fixed-selection-checkbox-or-term-selector",
        "../vendor/edges2/sass/renderers/googlemap/google-map-view",
        "../vendor/edges2/sass/renderers/html/relative-size-bars";
@import "base/grid",
        "base/body",
        "base/navbar",
        "vendors/edges",
        "reports/body";

// export the key bits of the palette as stylesheet rules, to be read by the JS
// for injection into visualisation components
#palette {
    #investigation {
        color: $investigations;
    }

    #request {
        color: $requests;
    }

    #export {
        color: $exports;
    }
}


#g001 {

    #g001-interactions {
        margin-bottom: 50px;
    }

    #g001-interactions-chart {
        height: 500px;
    }

    #g001-interactions-map {
        margin-top: 100px;
    }

    #g001-top-downloads {
        progress {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: $requests;
            background: #ffffff;
        }
        progress::-moz-progress-bar {
            background: $requests;
            border-radius: 15px;
        }
        progress::-webkit-progress-value {
            background: $requests;
            border-radius: 15px;
        }
        progress::-webkit-progress-bar {
            background: #ffffff
        }
    }

    #g001-top-exports {
        progress {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: $exports;
            background: #ffffff;
        }
        progress::-moz-progress-bar {
            background: $exports;
            border-radius: 15px;
        }
        progress::-webkit-progress-value {
            background: $exports;
            border-radius: 15px;
        }
        progress::-webkit-progress-bar {
            background: #ffffff
        }
    }
}