@charset "utf-8";


@import "base/palette",
    "../vendor/edges2/sass/renderers/bs3/or-term-selector",
    "../vendor/edges2/sass/renderers/bs3/chart-data-table",
    "../vendor/edges2/sass/renderers/googlemap/google-map-view";


#g001 {
    .header {
        background: $header;
        color: $header-text;
    }

    .controls {
        background: $control;
        color: $header-text;
        margin-bottom: 50px;
    }

    .nav {
        list-style-type: none;

        li {
            float: left;
            margin-right: 0.5em;

            a {
                color: $header-text;
            }
        }
    }

    .formats-header {
        margin-top: 100px;
    }

    #g001-interactions {
        margin-bottom: 50px;
    }

    #g001-interactions-chart {
        height: 500px;
    }

    #g001-interactions-map {
        margin-top: 100px;
    }

    #g001-top-investigations svg {
        height: 300px;
    }

    #g001-top-downloads svg {
        height: 300px;
    }

    #g001-top-exports svg {
        height: 300px;
    }
}