@charset "utf-8";


@import "base/palette";

// export the key bits of the palette as stylesheet rules, to be read by the JS
// for injection into visualisation components
#workflowpalette {
    #a {
        color: $wf-first;
    }

    #b {
        color: $wf-second;
    }

    #c {
        color: $wf-third;
    }

    #d {
        color: $wf-fourth;
    }

    #e {
        color: $wf-fifth;
    }
}

#agepalette {
    #a {
        color: $age-1m;
    }

    #b {
        color: $age-2m;
    }

    #c {
        color: $age-3m;
    }

    #d {
        color: $age-4m;
    }

    #e {
        color: $age-5m;
    }

    #f {
        color: $age-more;
    }
}

#g014 {
    .header {
        background: $header;
        color: $header-text;
    }

    .controls {
        background: $control;
        color: $header-text;
        margin-bottom: 50px;
    }

    .nav {
        list-style-type: none;

        li {
            float: left;
            margin-right: 0.5em;

            a {
                color: $header-text;
            }
        }
    }

    .g014-template_stats {
        width: 100%;

        tr {
            border-bottom: 2px solid $table-divider;
        }

        thead {
            font-weight: bold;
            text-transform: uppercase;
            color: $title-text;

            td {
                vertical-align: top;
                text-align: left;

                p {
                    color: $regular-text;
                    font-weight: normal;
                }
            }
        }

        td {
            width: 25%;
            vertical-align: middle;

            &:first-of-type {
                font-weight: bold;
                text-transform: uppercase;
                color: $title-text
            }
        }
    }

    .edges-bs3-chartdatatable_table {
        width: 100%;

        tr {
            border-bottom: 1px solid $table-divider;
        }
    }

    #g014-workflow-capacity-chart {
        height: 600px;
    }

    #g014-workflow-capacity-table {
        table {
            width: 100%;

            thead {
                font-weight: bold;
                text-transform: uppercase;
                color: $title-text;
            }

            tr {
                border-bottom: 2px solid $table-divider;
            }

            td {
                &:first-of-type {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $title-text
                }
            }
        }
    }
}