@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "base/palette",
        "base/grid",
        "base/body",
        "base/navbar",
        "vendors/edges",
        "reports/body",
        "base/checkboxes";

// export the key bits of the palette as stylesheet rules, to be read by the JS
// for injection into visualisation components
#workflowpalette {
    #a {
        color: $wf-first;
    }

    #b {
        color: $wf-second;
    }

    #c {
        color: $wf-third;
    }

    #d {
        color: $wf-fourth;
    }

    #e {
        color: $wf-fifth;
    }
}

#agepalette {
    #a {
        color: $age-1m;
    }

    #b {
        color: $age-2m;
    }

    #c {
        color: $age-3m;
    }

    #d {
        color: $age-4m;
    }

    #e {
        color: $age-5m;
    }

    #f {
        color: $age-more;
    }
}

#g014 {

    .g014-template_stats {
        width: 100%;

        tr {
            border-bottom: 2px solid $table-divider;
        }

        thead {
            font-weight: bold;
            text-transform: uppercase;
            color: $title-text;

            td {
                vertical-align: top;
                text-align: left;

                p {
                    color: $regular-text;
                    font-weight: normal;
                }
            }
        }

        td {
            width: 25%;
            vertical-align: middle;

            &:first-of-type {
                font-weight: bold;
                text-transform: uppercase;
                color: $title-text
            }

            label {
                font-weight: normal;
                margin: 1rem 0 1rem 0;
            }
        }
    }

    .g014-template_sat {
        text-transform: uppercase;
    }

    .g014-template_legend {
        text-transform: uppercase;
    }

    .g014-template_legend-box {
        display: inline-block;
        font-size: 2em;
        padding-right: 5px;
        line-height: 0
    }

    .edges-bs3-chartdatatable_table {
        width: 100%;

        tr {
            border-bottom: 1px solid $table-divider;
        }
    }

    #g014-workflow-capacity-chart {
        height: 600px;
    }

    #g014-workflow-capacity-table {
        table {
            width: 100%;

            thead {
                font-weight: bold;
                text-transform: uppercase;
                color: $title-text;

                td {
                    padding-bottom: 10px;
                }
            }

            tr {
                border-bottom: 1px solid $table-divider;
            }

            td {
                &:first-of-type {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $title-text;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}